{
    "comments": true,
    "sourceMaps": true,
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": 3,
                "shippedProposals": true,
                "targets": {
                    "browsers": "iOS 13"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}